HCA_CLIENT_ID=
HCA_CLIENT_SECRET=
HCA_REDIRECT_URI=http://localhost:3000/auth/callback
HCA_ISSUER=https://auth.hackclub.com

AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=appwD75tvI6ffrgfy
AIRTABLE_TABLE_NAME=Applications
