<main class="page">
  <div class="card">
    <div class="header">
      <p class="brand">TheHackGrant</p>
    </div>

    <h1>Thanks for applying!</h1>

    <p class="sub">
      We&rsquo;ve got your application. Applications are rolling &mdash; we try to reply within two weeks.
    </p>

    <div class="actions">
      <%= link_to "Back to TheHackGrant", root_path, class: "link" %>
    </div>
  </div>
</main>
